<form [formGroup]="permisoForm" (ngSubmit)="onSubmit()">
  <h2 class="text-center text-primary">Crear Solicitud</h2>
  <hr>
  <div class="container">
    <div class="col-12 col-sm-6 form-group">
      <label><span class="text-danger">*</span>Nombre</label>
      <input type="text" class="form-control" formControlName="employeeName">
      <div class="input-group-append"></div>
    </div>
    <span class="text-danger"
       *ngIf="permisoForm.controls['employeeName'].touched && permisoForm.controls['employeeName'].errors?.required">
      El campo es requerido.
    </span>

    <div class="col-12 col-sm-6 form-group">
      <label><span class="text-danger">*</span>Apellido</label>
      <input type="text" class="form-control" formControlName="employeeLastName">
      <div class="input-group-append"></div>
    </div>
    <span class="text-danger"
         *ngIf="permisoForm.controls['employeeLastName'].touched && permisoForm.controls['employeeLastName'].errors?.required">
      El campo es requerido.
    </span>

    <div class="col-12 col-md-6 form-group">
      <label><span class="text-danger">*</span>Tipo de Permiso</label>
      <select class="form-control" formControlName="tipoPermisoId">
        <option [value]="null" disabled>--Seleccionar un tipo de permiso--</option>
        <option *ngFor="let tipo of tipoPermisos" [value]="tipo.id">
          {{tipo.description}}
        </option>
      </select>
      <span class="text-danger"
        *ngIf="permisoForm.controls['tipoPermisoId'].touched && permisoForm.controls['tipoPermisoId'].errors?.required">
        El campo es requerido.
      </span>
    </div>

    <div class="col-12 col-sm-6 form-group">
      <button class="btn btn-success  mr-2" type="submit" [disabled]="permisoForm.invalid">Solicitar</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>