<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Permisos App</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/create-permisos-form']">Solicitar Permiso</a>
        </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/permisos-list']">Ver permisos</a>
      </li>
    
    </ul>
  </div>

</nav>