<div class="container">
<h2 class="text-center text-primary">Lista de permisos</h2>
<hr>
<table class="table">
    <thead class="thead-dark" >
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Tipo de Permiso</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let permiso of permisos">
        <tr>
            <th scope="row">{{permiso.id}}</th>
            <td>{{permiso.employeeName}}</td>
            <td>{{permiso.employeeLastName}}</td>
            <td>{{permiso.tipoPermiso.description}}</td>
            <td>{{permiso.fechaPermiso | date }}</td>
            <td><button type="button" class="btn btn-danger" (click)="borrar(permiso.id)">Borrar
            </button></td>
        </tr>
    </tbody>
</table>
</div>